* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  h1 {
    padding: 20px;
    text-align: center;
  }
  
  table {
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }
  
  table, thead, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  
  thead, td {
    padding: 15px;
  }
  
  table tr:nth-child(even) {
    background-color: #eee;
  }
  
  table tr:nth-child(odd) {
    background-color: #fff;
  }
  
  thead tr td {
    font-weight: bolder;
    background: rgb(255, 127, 229);
  }